<div class="row">
	<div class="col col-lg-6">
		<h1>Share Your Picture</h1>
		<%= form_for [@photo], :url => photos_path, :html => { :multipart => true, :class => "form-inline" } do |form| %>
		<div class="input-group">
		  <%= form.hidden_field :user_id, :value => current_user.id rescue "" %>
		  <%= form.label :caption %>
		  <%= form.text_area :caption %>
		  <%= form.label :image %>
		  <%= form.file_field :image %>
		  <%= form.submit "Share My Photo" %>
		</div>		  
		<% end %>
	</div>

	<div class="col col-lg-6">
		<h1>Recent Photos</h1>
		<ul id="instalist">
		<% @photos.each do |photo| %>
			<li>
				<%= link_to photo do %>
					<%= image_tag photo.image.url(:thumb) %>
					<%= photo.caption %>
					<small>by <%= photo.user.name rescue "Guest User" %></small>
				<% end %>
			</li>
		<% end %>
		</ul>
	</div>
</div>