<h1>Share Your Picture</h1>
<%= form_for @photo, :url => photos_path, :html => { :multipart => true } do |form| %>
  <%= form.label :caption %>
  <%= form.text_area :caption %>
  <%= form.label :image %>
  <%= form.file_field :image %>
  <%= form.submit "Share My Photo" %>
<% end %>

<h2>Recent Photos</h2>
<ul>
<% @photos.each do |photo| %>
	<li>
		<%= link_to photo do %>
			<%= image_tag photo.image.url(:thumb) %>
			<%= photo.caption %>
		<% end %>
	</li>
<% end %>
</ul>