<h1>Photo Page</h1>
<%= link_to "Back", new_photo_path %>
<%= image_tag @photo.image.url(:medium) %>
<%= @photo.caption %>
<h2>Leave a Comment</h2>
<%= form_for [@photo, @comment] do |form| %>
  <%= form.hidden_field :user_id, :value => current_user.id rescue "" %>
  <%= form.label :comment %>
  <%= form.text_area :comment %>
  <%= form.submit "Post Comment" %>
<% end %>
<h2>Comments</h2>
<dl>
<% @comments.each do |comment| %>	
	<dt><%= comment.user.name rescue "Guest" %></dt>
	<dd><%= comment.comment %></dd>
<% end %>
</dl>